.error{
    background-color: #6DCC7D!important;
    height: 100vh;
    margin: 0px;
    border-radius: 0% !important;
    padding: 0px;
    position:relative;
    width: 100%;
}

.hh{
    background-image:url("./../../assets/images/error_pag.gif");
    background-size:auto;
    background-repeat: no-repeat;
    width: 50%;
    height: 50% ;
    margin-left: auto;
    margin-right: auto;
    margin-top:15%;
    margin-bottom: auto;
    display: block;
    
}
#errorMsg{
    position: absolute;
    top: 35vh;
    left:55%;
}
