.login{
    background-color: rgb(109, 3, 3);
    height: 100vh;
    margin: 0px;
    border-radius: 0% !important;
   
}
.home-login{
    width: 100vw ;
    height: 100vh ;
    background-color: #1e1f1f;
    position: relative;
}
.formulario-login{
    background-color:rgb(255, 255, 255);
    border-radius: 20px !important;
    position:absolute;
    left:35%;
    top:30%;
    width: 20vw ;
    height: 35vh ;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    
}
.titulo{
    position:absolute;
    left:43%;
    top:25%;
    color: rgb(227, 228, 230);
}
.user-input{
    position:absolute;
    left:20%;
    top:20%;
    color: rgb(227, 228, 230); ;
}
.button_create_account{
    position:absolute;
    left:43%;
    top:67%;   
}
.button_atras{
    position:absolute;
    left:1%;
    top:95%; 
}