.nomargin {
    margin: 0%;
    padding: 0%;
}
.navbar{
    height: 47px;
    width: 100vw;
    margin: 0px;
    border-radius: 0% !important;
    position: relative;
    border-radius: 0px!important;
    background-color: black!important;
    color: #fff !important;
    padding:0px !important;
}
.section-name{
    width: 100%;
    text-align: left;
    border-bottom: 1px;
}
.sectionName  h1, h2, h3, h4, h5{
    color:#212121 ;
    margin-bottom: 2px;
    padding-left: 8% !important;
}
.nomargin {
    margin: 0%;
    padding: 0%;
    border: 0px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.hlist {
    display:flex;
    flex-direction: row ;
     
     
}

#rightItems{
    margin: 0%;
    padding: 0%;
    border: 0px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-self:flex-end;
}
/* Sobreescribo varias cosas de material */
.MuiContainer-root {
    padding:0px !important;
}
.MuiContainer-root {
    max-width: 100vw !important;
}
.MuiListPadding{
    padding: 0px !important;
}
.MuiListItemIcon-root{
    min-width: 1.8em !important;
}

.MuiSvgIcon-root{
    color: #fff !important;
}
.MuiPaper-rounded{
    border-radius: 0% !important;
}