.error{
    background-color: rgb(255, 255, 255)!important;
    height: 100vh;
    margin: 0px;
    border-radius: 0% !important;
    padding: 0px;
    position:relative;
}

.hh{
    background-image:url("./../../assets/images/error_pag.gif");
    background-size: cover;
    background-repeat: no-repeat;
    width:100vw;
    height: 100vh ;
}
#errorMsg{
    position: absolute;
    top: 35vh;
    left:50%;
}
.imgError{
    position: absolute;
    width: 50% ;
    height: 100vh ;
}